<div class="container-fluid">
  <main-menu></main-menu>
  <ul ng-show="$ctrl.enlisted">
    <li ng-repeat="participant in $ctrl.enlisted">
      <span>{{participant.user.name}}</span>
      <a class="btn"
         ng-class="{true: 'btn-primary', false: 'btn-danger'}[participant.state == 'Here']"
         ng-click="$ctrl.flipParticipant($index)">
        {{participant.state == 'Here' && 'is ready to play' || 'is not ready'}}
      </a>
    </li>
  </ul>
  <div class="alert alert-info" ng-show="$ctrl.enlisted.length == 0">
    Nobody has enlisted yet.
  </div>
  <div class="alert alert-info" ng-show="$ctrl.enlisted === null">
    Loading ...
  </div>
</div>
