@import "core-const";
@import "mixin";

tr.even-row {
    background-color: $active-background-color;
}

/* begin of no side space */
.view-container .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
/* end of no side space  */

/* begin of main toolbar */
.view-container .navbar {
    min-height: 30px;
    margin-bottom: 0px;
}
.view-container .navbar-text {
    font-size: 17px;
    line-height: 2;
}
.view-container .navbar-btn, .view-container .navbar-text {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* end of main toolbar */

/* begin of main menu */
.view-container .dropdown-menu > li > a {
    line-height: 1.4;
    padding: 1px 10px;
}
.view-container .dropdown-menu .divider {
    margin: 4px 0px;
}
/* end of main menu */

/* begin of clickable directive */
.hover {
    background-color: $active-background-color;
    cursor: pointer;
}
.clickable {
    cursor: pointer;
}
.clicked {
    background-color: $active-background-color - #151515;
}

ul li a {
    cursor: pointer;
}

/* end of clickable directive */

/* begin of open tournament list */
.open-tournament {
    min-height: 0px;

    legend {
        margin-bottom: 5px;
        font-size: 16px;
        border-bottom: none;
    }

    fieldset table tbody tr td:first-child {
        font-size: 22px;
        text-align: center;
    }

    fieldset table tr td {
        border-top: none;
        padding: 1px;
        vertical-align: middle;
    }
}

.list-item .completeness {
    font-size: 14px;
    width: 57px;
    color: $base-red-color;
}
/* end of open tournament list */

/* begin of enlist form */
.enlist-form {
    .date {
        padding-right: 10px;
        color: $base-red-color;
    }
    .time {
        font-size: 12px;
        color: gray;
    }
    .category-label {
        width: 33%;
    }
    .category-value {
        max-width: 60%;
        overflow: wrap;
    }
    a.category.btn-primary {
        color: $primary-btn-font-color;
        background-color: $primary-btn-back-color;
    }
    a.category {
        min-width: 200px;
        margin-bottom: 3px;
    }
}

/* end of enlist form */

@include desktop-media {
    @import "desktop/app-desktop.scss";
}

/* begin of debugging and tracing */
.border {
    border: 1px solid black;
}
/* end of debugging and tracing */

.alert-info a {
    text-decoration: underline !important;
}

.alert-info a.btn {
   text-decoration: none !important;
}

.match-scoring {
    .btn {
        min-width: 150px;
    }
    .form-group label {
        font-weight: normal;
    }
}

.top-buffer {
    padding-top: 20px !important;
}

.active .circle {
    opacity: 1;
}

.btn .circle {
    margin-right: 10px;
}

.circle {
    width: 10px;
    opacity: 0;
    height: 10px;
    display: inline-block;
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.match-state-description {
    tbody tr td:first-child {
        font-weight: bold;
    }
}

td.match-state-description.text-danger {
    font-weight: bold;
}

tr.bottom-line td {
    border-top: 2px solid #111 !important;
}

.tiny {
    font-size: 75%;
}

@include mobile-media {
    @import "mobile/app-mobile.scss";
}

@import "spinner.scss";

.table hr.half-cell {
   margin: 5px 0px;
}

.text-black {
   color: #333;
}
