$base-font-color: black;
$active-background-color: #f5f5f5;
$infinitPx: 9999px;
$base-red-color: red;
$primary-btn-back-color: #337ab7;
$primary-btn-font-color: #fff;
$default-btn-back-color: #e6e6e6;
$default-btn-font-color: #000;
$medial-size: 32px;
$info-bg-color: #d9edf7;
$success-bg-color: #dff0d8;
$section-panel-border-color: #d2d2d2;
$section-panel-label-color: #666;

$max-desktop-resolution: 119dpi;
$min-mobile-resolution: 120dpi;
