.medal {
   font-size: 190%;
   line-height: 0.3;
   vertical-align: middle;
}

.gold {
   color: rgb(201, 137, 16);
}
.silver {
   color: rgb(168, 168, 168);
}
.bronze {
   color: rgb(150, 90, 56);
}
