<main-menu></main-menu>
<div>
  <div class="container admin-score">
    <match-score-conflict></match-score-conflict>
    <div class="form-group">
      <a ng-click="$ctrl.showReview()"
         ng-show="$ctrl.matchScore.winUid" class="btn btn-success">
        Keep score
      </a>
      <a ng-click="$ctrl.continueJudgeMatch()" ng-show="!$ctrl.matchScore.winUid" class="btn btn-success">
        Keep score
      </a>
      <a ng-click="$ctrl.rescore()" class="btn btn-primary">
        Overwrite score
      </a>
    </div>
  </div>
</div>
