<main-menu></main-menu>
<form>
  <div class="container-fluid">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control"
             placeholder="Name" ng-model="$ctrl.place.name"/>
    </div>
    <div class="form-group">
      <label for="postAddress">Post Address</label>
      <input type="text" id="postAddress" class="form-control"
             placeholder="Post Address"
             ng-model="$ctrl.place.address.address"/>
    </div>
    <div class="form-group">
      <label for="phone">Phone</label>
      <input type="text" id="phone" class="form-control"
             placeholder="Phone"
             ng-model="$ctrl.place.address.phone"/>
    </div>
    <div class="form-group">
      <label for="email">Contact Email</label>
      <input type="text" id="email" class="form-control"
             placeholder="Contact email"
             ng-model="$ctrl.place.address.email"/>
    </div>
    <div class="form-group" ng-show="$ctrl.error">
      <p class="alert alert-danger">
        {{$ctrl.error}}
      </p>
    </div>
    <div class="form-group">
      <button ng-click="$ctrl.createPlace()">Create</button>
    </div>
  </div>
</form>
