<main-menu></main-menu>
<div class="container">
  <form novalidate name="$ctrl.form" ng-submit="$ctrl.createPlace()">
    <div class="form-group"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.name.$dirty) && $ctrl.form.name.$invalid}">
      <label for="name">{{ 'place name' | translate }}</label>
      <input type="text" class="form-control"
             ng-model="$ctrl.place.name"
             ng-maxlength="40"
             required
             name="name"
             id="name"
             placeholder="{{ 'place name' | translate }}" />
      <p class="help-block" ng-show="$ctrl.form.name.$error.required">
        {{ 'Name is required' | translate }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.name.$error.minlength || $ctrl.form.name.$error.maxlength">
        {{ 'place-name-length' | translate : '{max: 40}' }}
      </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.country.$dirty) && $ctrl.form.country.$invalid}">
      <label for="country">{{ 'country name' | translate }}</label>
      <select class="form-control"
              ng-model="$ctrl.countryId"
              ng-change="$ctrl.countryChange()"
              required name="country" id="country">
        <option value="addNewCountry">
          {{ 'Add new country' | translate }}
        </option>
        <option ng-repeat="country in $ctrl.countries | orderBy : 'name'" value="{{country.id}}">
          {{country.name}}
        </option>
      </select>
      <p class="help-block" ng-show="$ctrl.form.country.$error.required">
        {{ 'Country is required' | translate }}
      </p>
    </div>
    <div class="form-group"
         ng-show="$ctrl.countryId"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.city.$dirty) && $ctrl.form.city.$invalid}">
      <label for="city">
        {{ 'city name' | translate }}
      </label>
      <select class="form-control"
              ng-model="$ctrl.place.address.city.id"
              ng-change="$ctrl.cityChange()"
              required name="city" id="city">
        <option value="addNewCity">
          {{ 'Add new city' | translate }}
        </option>
        <option ng-repeat="city in $ctrl.cities | orderBy : 'name'" value="{{city.id}}">
          {{city.name}}
        </option>
      </select>
      <p class="help-block" ng-show="$ctrl.form.city.$error.required">
        {{ 'City is required' | translate }}
      </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.address.$dirty) && $ctrl.form.address.$invalid}">
      <label for="postAddress">
        {{ 'Postal Address' | translate }}
      </label>
      <input type="text" class="form-control"
             ng-model="$ctrl.place.address.address"
             ng-maxlength="200"
             required
             name="address"
             id="postAddress"
             placeholder="{{ 'Postal Address' | translate }}"/>
      <p class="help-block" ng-show="$ctrl.form.address.$error.required">
        {{ 'Address is required' | translate }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.address.$error.minlength || $ctrl.form.address.$error.maxlength">
        {{ 'postal-address-length' | translate : '{max: 200}' }}
      </p>
    </div>
    <div class="form-group"
          ng-class="{'has-error':  ($ctrl.form.$submitted || $ctrl.form.phone.$dirty) && $ctrl.form.phone.$invalid}">
      <label for="phone">{{ 'Phone' | translate }} </label>
      <input type="text"  class="form-control"
             ng-model="$ctrl.place.address.phone"
             ng-maxlength="40"
             validate-phone
             name="phone"
             id="phone"
             placeholder="{{ 'Phone' | translate }}"/>
      <p class="help-block"
         ng-show="$ctrl.form.phone.$error.maxlength">
        {{ 'phone-length' | translate : '{max: 40}' }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.phone.$error.phone">
        {{ 'phone format wrong' | translate }}
      </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.email.$dirty) && $ctrl.form.email.$invalid}">
      <label for="email">{{ 'Contact Email' | translate }}</label>
      <input type="email" class="form-control"
             ng-model="$ctrl.place.address.email"
             ng-maxlength="40"
             validate-email
             name="email"
             id="email" placeholder="{{ 'Contact Email' | translate }}"/>
      <p class="help-block"
         ng-show="$ctrl.form.email.$error.maxlength">
        {{ 'email-length' | translate : '{max : 40}' }}
      </p>
      <p class="help-block"
         ng-show="$ctrl.form.email.$error.email">
        {{ 'email wrong format' | translate }}
      </p>
      <p class="help-block" ng-show="$ctrl.form.email.$valid">
        {{ 'Optional field' | translate }}
      </p>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        {{ 'Create Place' | translate }}
      </button>
      <a class="btn btn-primary" ng-click="$ctrl.safeBack()">
        {{ 'Back btn' | translate }}
      </a>
    </div>
    <div class="form-group">
      <request-status></request-status>
    </div>
  </form>

  <div id="newCountryForm" class="modal fade" role="dialog">
    <form novalidate name="$ctrl.countryForm" ng-submit="$ctrl.createCountryAndUse()">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">
              {{ 'New country' | translate }}
            </h4>
          </div>
          <div class="modal-body">
            <div class="form-group"
                 ng-class="{'has-error': ($ctrl.countryForm.$submitted || $ctrl.countryForm.name.$dirty) && $ctrl.countryForm.name.$invalid}">
              <label for="countryname">
                {{ 'Name' | translate }}
              </label>
              <input type="text" class="form-control"
                     ng-model="$ctrl.countryName"
                     ng-maxlength="80"
                     required
                     name="name"
                     index="0"
                     id="countryname"
                     placeholder="{{ 'Name' | translate }}" />
              <p class="help-block" ng-show="$ctrl.countryForm.name.$error.required">
                {{ 'Country name is required' | translate }}
              </p>
              <p class="help-block"
                 ng-show="$ctrl.countryForm.name.$error.minlength || $ctrl.countryForm.name.$error.maxlength">
                {{ 'country-name-length' | translate : '{max: 80}' }}
              </p>
            </div>
            <request-status></request-status>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">
              {{ 'Cancel btn' | translate }}
            </button>
            <button type="submit" class="btn btn-primary">
              {{ 'Add & Use' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>

  <div id="newCityForm" class="modal fade" role="dialog">
    <form novalidate name="$ctrl.cityForm" ng-submit="$ctrl.createCityAndUse()">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">{{ 'New city' | translate }}</h4>
          </div>
          <div class="modal-body">
            <div class="form-group"
                 ng-class="{'has-error': ($ctrl.cityForm.$submitted || $ctrl.cityForm.name.$dirty) && $ctrl.cityForm.name.$invalid}">
              <label for="cityname">{{ 'Name' | translate }}</label>
              <input type="text" class="form-control"
                     ng-model="$ctrl.cityName"
                     ng-maxlength="90"
                     required
                     name="name"
                     id="cityname"
                     placeholder="{{ 'Name' | translate }}" />
              <p class="help-block" ng-show="$ctrl.cityForm.name.$error.required">
                {{ 'City name is required' | translate }}
              </p>
              <p class="help-block"
                 ng-show="$ctrl.cityForm.name.$error.minlength || $ctrl.cityForm.name.$error.maxlength">
                {{ 'city-name-length' | translate : '{max: 90}' }}
              </p>
            </div>
            <request-status></request-status>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default"
                    data-dismiss="modal">
              {{ 'Cancel btn' | translate }}
            </button>
            <button type="submit" class="btn btn-primary">
              {{ 'Add & Use' | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
