<div class="form-group toggle-btn">
    <label ng-show="$ctrl.rules.match['@type'] == 'Tennis'" translate="tennis-arena-lbl"/>
    <label ng-show="$ctrl.rules.match['@type'] == 'PingPong'" translate="ping-pong-arena-lbl"/>
    <a class="pull-right arrow"
       simple-toggler="#arena-parameters">
        <span class="glyphicon glyphicon-menu-down"/>
        <span class="glyphicon glyphicon-menu-up"/>
    </a>
</div>
<div id="arena-parameters" class="toggle-panel in">
    <div class="form-group">
        <label class="toggle-option"
               ng-show="$ctrl.rules.match['@type'] == 'PingPong'"
               translate="Schedule tables"/>
        <label class="toggle-option"
               ng-show="$ctrl.rules.match['@type'] == 'Tennis'"
               translate="Schedule courts"/>
        <a class="btn btn-default"
           translate="yes-lbl"
           ng-click="$ctrl.rules.place.arenaDistribution = 'GLOBAL'"
           ng-class="{'btn-primary': $ctrl.rules.place.arenaDistribution == 'GLOBAL'}"/>
        <a class="btn btn-default"
           translate="no-lbl"
           ng-click="$ctrl.rules.place.arenaDistribution = 'NO'"
           ng-class="{'btn-danger': !$ctrl.rules.place || $ctrl.rules.place.arenaDistribution == 'NO'}"/>
    </div>
</div>