    .container {
        padding-top: 15px;
    }

    .wrap-long {
        white-space: initial !important;
    }

    /* begin of match-score */
    .admin-score {
        a.score {
            margin-left: 5px !important;
            margin-bottom: 5px !important;
        }
        a.score:hover {
            background-color: #204d74 !important;
        }
    }
    /* end of match-score */

    .input-group-addon {
        padding: 8px 10px;
        width: 40px;
        display: inline-block;
    }
