    .container {
        padding-top: 15px;
    }

    .wrap-long {
        white-space: initial !important;
    }

    .input-group-addon {
        padding: 8px 10px;
        width: 40px;
        display: inline-block;
    }
