<main-menu></main-menu>
<div class="container">
  <div ng-show="$ctrl.published">
    <div class="alert alert-info">
      Thanks, tournament
      <a href="#!/my/tournament/{{$ctrl.tournament.tid}}">{{$ctrl.tournament.name}}</a>
      has been created and announced. Add categories to the tournament
      and begin drafting.
    </div>
    <div class="form-group">
      <a class="btn btn-primary"
         href="#!/my/tournament/categories/{{$ctrl.tournament.tid}}">
        Add categories
      </a>
      <a class="btn btn-default"
         href="#!/my/tournament/{{$ctrl.tournament.tid}}">
        View tournament
      </a>
    </div>
  </div>
  <form novalidate name="$ctrl.form"
        ng-submit="$ctrl.createTournament()"
        default-button-type
        ng-show="!$ctrl.published">
    <div class="form-group">
      <label for="quitsFromGroup">Quits from a group</label>
      <div touch-spin options="$ctrl.options.quitsFromGroup"
           ng-model="$ctrl.tournament.quitsFromGroup"></div>
      <p class="help-block">
        How many players quits from a group and continue participate
        in play-off tournament stage.
      </p>
    </div>
    <div class="form-group">
      <label for="maxGroupSize">Max group size</label>
      <div touch-spin options="$ctrl.options.maxGroupSize"
           ng-model="$ctrl.tournament.maxGroupSize"></div>
      <p class="help-block">
        Maximum number of players, which could be in a group.
      </p>
    </div>
    <div class="form-group">
      <label for="matchScore">Match score</label>
      <div touch-spin options="$ctrl.options.matchScore"
           ng-model="$ctrl.tournament.matchScore"></div>
      <p class="help-block">
        Determines how many sets an opponent should take, to win the
        match.
      </p>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Create & Open Draft</button>
      <button class="btn btn-default" type="button" back-button>Back</button>
      <a href="#!/tournaments" class="btn btn-danger">Cancel</a>
    </div>
    <div class="form-group">
      <request-status></request-status>
    </div>
  </form>
</div>
