<main-menu></main-menu>
<form>
  <div class="container-fluid">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" id="name" class="form-control"
             ng-required="true"
             placeholder="Name" ng-model="$ctrl.tournament.name"/>
    </div>
    <div class="form-group">
      <label for="startDate">Start Date</label>
      <input ng-flatpickr  id="startDate" class="form-control"
             fp-opts="$ctrl.dateOpts"
             placeholder="Start Date"
             ng-model="$ctrl.tournament.opensAt"/>
    </div>
    <div class="form-group">
      <label for="ticketPrice">Ticket price</label>
      <input type="text" id="tickePrice" class="form-control"
             ng-model="$ctrl.tournament.ticketPrice"/>
    </div>
    <div class="form-group">
      <label for="place">Place</label>
      <button id="place" class="form-control btn btn-default"
              ng-click="$ctrl.choosePlace()">
          {{$ctrl.place.name || 'choose'}}
      </button>
    </div>
    <div class="form-group">
      <label for="quitGroup">Quit Group</label>
      <input type="number" id="quitGroup" class="form-control"
             placeholder="How many people quit group"
             ng-model="$ctrl.tournament.quitsFromGroup"/>
    </div>
    <div class="form-group">
      <label for="maxGroupSize">Max group size</label>
      <input type="number" id="maxGroupSize" class="form-control"
             placeholder="Maximum number of participants in a group"
             ng-model="$ctrl.tournament.maxGroupSize"/>
    </div>
    <div class="form-group" ng-show="$ctrl.error">
      <p class="alert alert-danger">
        {{$ctrl.error}}
      </p>
    </div>
    <div class="form-group">
      <button ng-click="$ctrl.createTournament()">Create</button>
    </div>
  </div>
</form>
