.container {
    max-width: 800px;
    padding-top: 15px;
}

.modal-dialog .modal-body .container {
    width: initial;
}

.table-number {
    padding-left: 22px !important;
}

.input-group-addon {
    padding: 8px 12px;
    width: 45px;
    display: inline-block;
}

.admin-tables {
    .form-inline button {
        margin-left: 8px;
    }
}

.tournament-result {
    label {
        margin-right: 10px;
    }
    table tr {
        td:nth-child(3), td:nth-child(4) {
            text-align: center;
        }
    }
}
