@import "../base/b-toggle-btn.scss";

.toggle-btn {
    > label {
        margin-top: 6px;
    }
    padding-left: 20px;
    margin-bottom: 3px;
    a.arrow {
        margin-top: 7px;
        padding-right: 10px;
    }

    div.toggle {
        float: right;
    }
}

.toggle-panel {
    padding: 10px;
    padding-bottom: 0px;
    border-radius: 10px;
    margin-bottom: 15px;
}
