<main-menu></main-menu>
<form>
  <div class="container match-scoring">
    <div class="form-group">
      <label>{{ 'choose-you-score' | translate : '{type: $ctrl.match.matchType}' }}
        <a href="#!/participant/{{$ctrl.match.tid}}/{{$ctrl.match.enemy.uid}}">
          {{$ctrl.match.enemy.name}}
        </a>
      </label>
      <div>
        <a class="btn btn-default score"
           ng-repeat="score in $ctrl.possibleScores"
           ng-click="$ctrl.pick(0, score)"
           ng-class="{'btn-primary': score == $ctrl.scores[0]}">
          {{score}}
        </a>
      </div>
    </div>
    <div class="form-group">
      <label>{{ 'choose opponent score' | translate }}</label>
      <div>
        <a class="btn btn-default score"
           ng-repeat="score in $ctrl.possibleScores"
           ng-click="$ctrl.pick(1, score)"
           ng-class="{'btn-primary': score == $ctrl.scores[1]}">
          {{score}}
        </a>
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary"
              ng-show="!$ctrl.rated"
              ng-click="$ctrl.scoreMatch()">
        {{ 'Complete Match' | translate }}
      </button>
      <button class="btn btn-default"
              ng-class="{'btn-primary': $ctrl.rated}"
              back-button>
        {{ 'Back btn' | translate }}
      </button>
    </div>
    <div class="form-group">
      <request-status></request-status>
    </div>
  </div>
</form>
