$base-font-color: black;
$active-background-color: #f5f5f5;
$infinitPx: 9999px;

/* begin of no side space */
.view-container .container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}
/* end of no side space  */

/* begin of main toolbar */
.view-container .navbar {
    min-height: 30px;
    margin-bottom: 0px;
}
.view-container .navbar-text {
    font-size: 17px;
    line-height: 2;
}
.view-container .navbar-btn, .view-container .navbar-text {
    margin-top: 0px;
    margin-bottom: 0px;
}
/* end of main toolbar */

/* begin of main menu */
.view-container .dropdown-menu > li > a {
    line-height: 1.4;
    padding: 1px 10px;
}
.view-container .dropdown-menu .divider {
    margin: 4px 0px;
}
/* end of main menu */

/* begin of clickable directive */
.hover {
    background-color: $active-background-color;
    cursor: pointer;
}
.clicked {
    background-color: $active-background-color - #151515;
}
/* end of clickable directive */

/* begin of desktop layout */
@media all and (max-resolution: 119dpi) {
    .container {
        max-width: 800px;
        padding-top: 15px;
    }
    .list {
        max-width: 800px;

        .list-item {
            border-radius: 20px;
            border: 1px solid $active-background-color;
            padding: 10px 20px;
            margin-bottom: 10px;
            margin-top: 10px;

            .date {
                font-size: 14px;
                color: red;
                width: 57px;
            }
            .time {
                font-size: 12px;
                padding-right: 3px;
                color: grey;
                width: 62px;
            }
            .name a {
                color: $base-font-color;
                font-size: 18px;
            }
        }
    }
}
/* end of desktop layout */

/* begin of debugging and tracing */
.border {
    border: 1px solid black;
}
/* end of debugging and tracing */

/* begin of mobile layout */
@media all and (min-resolution: 120dpi) {
    /* begin of main menu */
    .view-container .navbar-text {
        margin-left: 8px;
    }
    .view-container .dropdown-menu {
        font-size: 24px;
    }
    .view-container .dropdown-menu > li > a {
        padding: 10px 20px;
    }
    .view-container a:hover, .view-container a:active {
        background-color: $active-background-color; /* highlight touched link */
    }
    .view-container .navbar {
        margin-bottom: 0px;
    }
    /* end of main menu */

    /* begin of  main content view */
    .container-fluid.list {
        padding: 3px;
    }

    .container {
        padding-top: 15px;
    }

    .list .list-item:last-child {
        border-bottom: none;
    }

    .list .list-item {
        padding-top: 10px;
        border-bottom: 1px solid grey;
        min-height: 50px;
    }

    .list .list-item.tournament .name, .list .list-item.tournament .datetime {
        padding-bottom: 5px;
    }

    .list .list-item.tournament .name a {
        padding-left: 2px;
        line-height: 1.6;
        font-size: 18px;
        color: $base-font-color;
    }

    .list .list-item.tournament span {
        display: inline-block;
        line-height: 1.9;
    }

    .list .list-item.tournament .date {
        font-size: 14px;
        color: red;
        width: 57px;
    }

    .list .list-item.tournament .time {
        font-size: 12px;
        padding-right: 3px;
        color: grey;
        width: 62px;
    }

    /* end of main content view*/
}
/* end of mobile layout */