
<!DOCTYPE html>
<html manifest="appcache/manifest.appcache" ng-app="pingPong" lang="en">
<head>
  <meta charset="utf-8">
  <title>Ping Pong Tournaments</title>
  <meta name="viewport" content="width=400">
</head>
<body>
  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>
</body>
</html>
