<!DOCTYPE html>
<html manifest="appcache/manifest.appcache" ng-app="cloudSport" lang="en">
<head>
  <meta charset="utf-8">
  <title>Sport tournaments in the cloud</title>
  <meta name="viewport" content="width=400">
  <!-- try following 3 lines to resolve application cache does not update some times after suspend -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <link rel="icon" type="image/png" href="/logo.png" />
  <!-- application cache hack -->
</head>
<body id="body">
  <script>
       window.fbAsyncInit = function() {
            FB.init({
                appId      : '242796933136161',
                xfbml      : true,
                version    : 'v3.0',
                status:      true
            });
            FB.AppEvents.logPageView();
       };

      (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "https://connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      })(document, 'script', 'facebook-jssdk');

  </script>
  <screen-sharer-dialog></screen-sharer-dialog>
  <voice-input-dialog></voice-input-dialog>

  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>
  <info-popup-widget/>
</body>
</html>
