
<!DOCTYPE html>
<html manifest="appcache/manifest.appcache" ng-app="pingPong" lang="en">
<head>
  <meta charset="utf-8">
  <title>Ping Pong Tournaments</title>
  <meta name="viewport" content="width=400">
  <link rel="stylesheet" href="/css/libs/flatpickr/dist/flatpickr.css" />
  <link rel="stylesheet" href="/css/libs/bootstrap/dist/css/bootstrap.css" />
  <link rel="stylesheet" href="/css/libs/clockpicker/dist/bootstrap-clockpicker.css" />
  <link rel="stylesheet" href="/css/libs/angular-touchspin/dist/angular-touchspin.css" />
</head>
<body>
  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>
</body>
</html>
