<!DOCTYPE html>
<html manifest="appcache/manifest.appcache" ng-app="cloudSport" lang="en">
<head>
  <meta charset="utf-8">
  <title>Sport tournaments in the cloud</title>
  <meta name="viewport" content="width=400">
  <!-- try following 3 lines to resolve application cache does not update some times after suspend -->
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
  <meta http-equiv="Pragma" content="no-cache" />
  <meta http-equiv="Expires" content="0" />
  <!-- application cache hack -->
</head>
<body id="body">
  <voice-input-dialog></voice-input-dialog>

  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>
  <info-popup-widget/>
</body>
</html>
