@import "~css/core-const.scss";

.enlist-form {
    .date {
        padding-right: 10px;
        color: $base-red-color;
    }
    .time {
        font-size: 12px;
        color: gray;
    }
    .category-label {
        width: 33%;
    }
    .category-value {
        max-width: 60%;
        overflow: wrap;
    }
    a.category.btn-primary {
        color: $primary-btn-font-color;
        background-color: $primary-btn-back-color;
    }
    a.category {
        min-width: 200px;
        margin-bottom: 3px;
    }
}

