<main-menu></main-menu>
<div class="container enlist-form">
  <table class="table" ng-show="$ctrl.tournament">
    <tbody>
      <tr>
        <td>{{ 'tournament name' | translate }}</td>
        <td>{{$ctrl.tournament.name}}</td>
      </tr>
      <tr>
        <td>{{ 'tournament city' | translate }}</td>
        <td>{{$ctrl.tournament.place.address.city.name}}</td>
      </tr>
      <tr>
        <td>{{ 'tournament place' | translate }}</td>
        <td>
          <a href="#!/place/{{$ctrl.tournament.place.pid}}">
            {{$ctrl.tournament.place.name}}
          </a>
        </td>
      </tr>
      <tr>
        <td>{{ 'tournament date' | translate }}</td>
        <td>
          <span class="date">
            {{$ctrl.tournament.opensAt|date:"MMM d"}}
          </span>
          <span class="time">
            {{$ctrl.tournament.opensAt|date:"EEE h a Z"}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered" ng-show="$ctrl.tournament">
    <tbody>
      <tr>
        <td title="Price per participant" translate="participation price"/>
        <td title="How many people are already enlisted">
          {{ 'enlisted to tournament' | translate }}
        </td>
        <td title="Available payment methods" translate="payment methods"/>
      </tr>
      <tr>
        <td>
          <span ng-if="$ctrl.tournament.ticketPrice">
            {{$ctrl.tournament.ticketPrice}}
          </span>
          <span ng-if="!$ctrl.tournament.ticketPrice" translate="free"/>
        </td>
        <td>
          <a ng-click="$ctrl.showEnlisted()"
             class="btn btn-default">
            <span class="glyphicon glyphicon-list-alt"></span>
            {{$ctrl.tournament.enlisted}}
          </a>
        </td>
        <td translate="cash"/>
      </tr>
    </tbody>
  </table>

  <div class="form-group" default-button-type
       ng-show="$ctrl.tournament.rules.casting.policy == 'pr'"
       ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.rank.$dirty) && $ctrl.form.rank.$invalid}">
    <label>{{ $ctrl.tournament.rules.casting.pro.label }}</label>
    <div touch-spin options="$ctrl.rankRange" ng-model="$ctrl.rank"></div>
  </div>

  <div class="form-group" ng-show="$ctrl.showQuitConfirm">
    <div class="alert alert-danger" translate="open-tournament-resign-warn"/>
    <a class="btn btn-danger" ng-click="$ctrl.resign($ctrl.showQuitConfirm)" translate="Resign btn"/>
    <a class="btn btn-primary" ng-click="$ctrl.showQuitConfirm = false" translate="Cancel btn"/>
  </div>

  <div class="form-group clearfix"
       ng-show="$ctrl.tournament.categories">
    <div class="pull-left category-label" translate="Categories"/>
    <div class="pull-left category-value">
      <div class="row" ng-repeat="category in $ctrl.tournament.categories">
        <a class="btn btn-default category"
           ng-show="$ctrl.showCategoryBtn(category.cid)"
           ng-click="$ctrl.toggleEnlistment(category.cid)"
           ng-class="$ctrl.categoryBtnClasses(category.cid)">
          {{category.name}}
        </a>
      </div>
      <div class="row" ng-show="$ctrl.expectEnlist && $ctrl.tournament.rules.enlist == 'OC'">
        <a class="btn btn-success category"
           ng-click="$ctrl.activateExtra()">
          <span class="glyphicon glyphicon-plus-sign"/>
          {{ 'extra category' | translate }}
        </a>
      </div>
    </div>
  </div>

  <div class="form-group">
    <request-status></request-status>
    <tournament-status></tournament-status>
  </div>

  <div class="form-group" ng-show="$ctrl.tournament.tid">
    <a href="#!/my/matches/play/{{$ctrl.tournament.tid}}"
       class="btn btn-success"
       title="look at list of my matches"
       ng-show="$ctrl.showScheduleLink()">
      <span class="glyphicon glyphicon-play"></span>
    </a>
    <a href="#!/tournament/result/{{$ctrl.tournament.tid}}"
       class="btn btn-primary"
       title="show match results"
       ng-show="$ctrl.showResultLink()">
      <span class="glyphicon glyphicon-stats"></span>
    </a>
    <a href="#!/tournament/rules/{{$ctrl.tournament.tid}}"
       class="btn btn-primary"
       title="show tournament rules">
      <span class="glyphicon glyphicon-info-sign"></span>
    </a>
    <a href="#!/tournament/played-matches/{{$ctrl.tournament.tid}}"
       class="btn btn-primary"
       title="list my played matches">
      <span class="glyphicon glyphicon-book"></span>
    </a>
    <a class="btn btn-primary label-info" role="button"
       ng-show="$ctrl.tournament.previousTid"
       href="#!/tournament/drafting/{{$ctrl.tournament.previousTid}}">
      {{ 'previous tournament' | translate }}
    </a>
  </div>
  <div class="form-group" ng-show="$ctrl.tournament.state == 'Close'">
    <div class="alert alert-info"
         translate="tournament is complete"
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournament.tid}"/>
  </div>
  <div class="form-group" ng-show="$ctrl.showThanksForEnlist()">
    <p translate="thanks-for-enlistment-info"
       translate-values="{url: '#!/my/matches/play/' + $ctrl.tournament.tid, name: $ctrl.tournament.name, time: $ctrl.tournament.opensAt}"/>
  </div>
</div>
