<main-menu></main-menu>
<div class="container enlist-form">
  <div class="form-group clearfix" ng-show="$ctrl.categories.length > 1">
    <div class="pull-left category-label" translate="Categories"/>
    <div class="pull-left category-value">
      <div class="row" ng-repeat="category in $ctrl.categories">
        <a class="btn btn-default category"
           ng-click="$ctrl.activate(category.cid)"
           ng-class="{'btn-primary': category.cid == $ctrl.categoryId}">
          {{category.name}}
        </a>
      </div>
    </div>
  </div>

  <div class="form-group clearfix" ng-show="$ctrl.tournament.state == 'Open'">
    <div class="pull-left category-label" translate="Groups"/>
    <div class="pull-left category-value">
      <table class="table">
        <tr>
          <td>
            <a class="btn btn-default" ng-click="$ctrl.activateGroup(0)"
               ng-class="{'btn-primary': 0 == $ctrl.groupId}">
              <span class="glyphicon glyphicon-plus-sign"/>
            </a>
          </td>
          <td ng-repeat="link in $ctrl.categoryGroups.links">
            <a class="btn btn-default"
               ng-click="$ctrl.activateGroup(link.gid)"
               ng-class="{'btn-primary': link.gid == $ctrl.groupId}">
              {{link.label}}
            </a>
          </td>
        </tr>
        <tr>
          <td></td>
          <td ng-repeat="pop in $ctrl.categoryGroups.populations track by $index">
            {{ pop }}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class="form-group" ng-show="!$ctrl.categoryId">
    <div class="alert alert-info" translate="tournament has no categories"/>
    <div>
      <a class="btn btn-primary"
         translate="add category btn"
         href="#!/my/tournament/categories/{{$ctrl.tournament.tid}}"/>
    </div>
  </div>

  <form novalidate name="$ctrl.form" ng-show="$ctrl.categoryId" ng-submit="$ctrl.register()">
    <div class="form-group"
         ng-class="{'has-error':  ($ctrl.form.$submitted || $ctrl.form.fullName.$dirty) && $ctrl.form.fullName.$invalid}">
      <label for="fullName" translate="Full name"/>
      <person-name-field name="fullName" id="fullName"
                         ng-maxlength="40" required
                         ng-minlength="5" ng-model="$ctrl.fullName"/>
      <p class="help-block"
         translate="FullName is required"
         ng-show="$ctrl.form.fullName.$error.required"/>
      <p class="help-block"
         ng-show="$ctrl.form.fullName.$error.minlength || $ctrl.form.fullName.$error.maxlength">
        {{ 'full-name-length-range' | translate : '{min: 5, max: 40}' }}
      </p>
    </div>
    <div class="form-group" default-button-type
         ng-show="$ctrl.rules.casting.policy == 'pr'"
         ng-class="{'has-error': ($ctrl.form.$submitted || $ctrl.form.rank.$dirty) && $ctrl.form.rank.$invalid}">
      <label>{{ $ctrl.rules.casting.pro.label }}</label>
      <div touch-spin options="$ctrl.rankRange" ng-model="$ctrl.rank"></div>
    </div>
    <div class="form-group" ng-show="$ctrl.fullName">
      <div class="alert alert-info"
           ng-show="$ctrl.suggestionFiredVersion = $ctrl.suggestionCompleteVersion">
        {{ 'Looking for sportsman' | translate }}
        <span class="glyphicon glyphicon-refresh spinning-fast"/>
      </div>
      <label translate="Existing offline accounts" ng-show="$ctrl.suggestions.length"/>
      <table class="table" ng-show="$ctrl.suggestions.length">
        <tr ng-repeat="suggestion in $ctrl.suggestions">
          <td style="padding-left: 0px;">
            <a class="btn btn-primary" title="Enlist or send invite"
               ng-click="$ctrl.enlist(suggestion.uid, suggestion.name)">
              <span class="glyphicon glyphicon-plus"/>
            </a>
          </td>
          <td>
            {{ suggestion.name }}
          </td>
        </tr>
      </table>
    </div>

    <div class="form-group">
      <a title="Enlist participant, mark him as paid and ready to participate"
         ng-click="$ctrl.register()"
         translate="New User and Enlist"
         ng-show="$ctrl.form.fullName.$valid && ($ctrl.tournament.state == 'Draft' || $ctrl.tournament.state == 'Open')"
         class="btn btn-primary"/>
      <a title="Return to tournament control panel"
         back-button
         class="btn btn-default">
        <span class="glyphicon glyphicon-circle-arrow-left"/>
      </a>
      <button ng-show="false" type="submit"></button>
    </div>
  </form>

  <div class="form-group">
    <request-status></request-status>
  </div>

  <div class="form-group" ng-show="$ctrl.enlisted.length">
    <table class="table">
      <tr>
        <td translate="Right now enlisted"/>
        <td>{{$ctrl.enlisted.length}}</td>
      </tr>
      <tr ng-repeat="enlisted in $ctrl.enlisted">
        <td colspan="2">
          <a href="#!/my/tournament/{{$ctrl.tournamentId}}/participant/{{enlisted.bid}}">
            {{enlisted.name}}
          </a>
        </td>
      </tr>
    </table>
  </div>
</div>
