<table class="table">
  <tr>
    <td translate="Sets" />
    <td ng-repeat="participant in $ctrl.participants">
      <a href="#!/my/tournament/{{$ctrl.tournamentId}}/participant/{{participant.uid}}">
        <you name="participant.name | compactName"/>
      </a>
    </td>
  </tr>
  <tr ng-repeat="set in $ctrl.sets"
      ng-class="{clickable: $ctrl.config.edit}"
      ng-click="$ctrl.pickSet($index, set)">
    <td>{{$index + 1}}</td>
    <td class="alert"
        ng-class="{'alert-success': set.a > set.b, 'alert-danger': set.a < set.b, 'badge': $ctrl.strongSet($index)}">
      {{set.a}}
    </td>
    <td class="alert"
        ng-class="{'alert-success': set.a < set.b, 'alert-danger': set.a > set.b, 'badge': $ctrl.strongSet($index)}">
      {{set.b}}
    </td>
  </tr>
  <tr ng-show="$ctrl.config.edit">
    <td></td>
    <td>
      <a ng-click="$ctrl.appendSet()" class="btn btn-success">
        <span class="glyphicon glyphicon-plus-sign"/>
        set
      </a>
    </td>
    <td>
      <a ng-click="$ctrl.removeLastSet()" class="btn btn-danger">
        <span class="glyphicon glyphicon-minus-sign"/>
        set
      </a>
    </td>
  </tr>
  <tr ng-class="{'bottom-line': !$ctrl.config.edit}">
    <td translate="Total" />
    <td class="alert" ng-class="{'alert-success': $ctrl.participants[0].uid == $ctrl.matchScore.winUid, 'alert-danger': $ctrl.participants[1].uid == $ctrl.matchScore.winUid}">
      {{$ctrl.matchScore.wonSets[$ctrl.participants[0].uid]}}
    </td>
    <td class="alert" ng-class="{'alert-success': $ctrl.participants[1].uid == $ctrl.matchScore.winUid, 'alert-danger': $ctrl.participants[0].uid == $ctrl.matchScore.winUid}">
      {{$ctrl.matchScore.wonSets[$ctrl.participants[1].uid]}}
    </td>
  </tr>
  <tr ng-show="$ctrl.matchScore.winUid">
    <td translate="Winner" />
    <td colspan="2">
      <span ng-repeat="participant in $ctrl.participants">
        <a href="#!/my/tournament/{{$ctrl.matchScore.tid}}/participant/{{participant.uid}}"
           ng-if="participant.uid == $ctrl.matchScore.winUid">
          <you name="participant.name"/>
        </a>
      </span>
    </td>
  </tr>
</table>
