<div class="form-group toggle-btn" id="play-off-parameters-toggler">
  <label translate="play-off-lbl"/>
  <div ng-show="!$ctrl.tournament.masterTid">
    <input type="checkbox"
           data-size="small"
           bs-toggler-anchor="play-off-parameters-toggler"
           ng-model="$ctrl.usePlayOff"
           bs-toggle-on="{{ 'yes-lbl' | translate }}"
           bs-toggle-off="{{ 'no-lbl' | translate }}"
           bs-toggle-target="#play-off-parameters"
           bs-toggle/>
    </div>
</div>
<div id="play-off-parameters" class="toggle-panel" ng-show="$ctrl.usePlayOff">
  <many-button-toggler id="max-losses-in-play-off" ng-model="$ctrl.rules.playOff.losings"
                       domain="[1, 2]" selected-class="['btn-primary', 'btn-success']"
                       label="max-losses" on-click="[$ctrl.scrollBottom]"/>
  <many-button-toggler id="third-place-match" ng-show="$ctrl.rules.playOff.losings == 1"
                       domain="[1, 0]" selected-class="['btn-primary', 'btn-danger']"
                       label="Match for 3rd place" ng-model="$ctrl.rules.playOff.thirdPlaceMatch"/>
</div>
