<div class="form-group toggle-btn"
     ng-show="$ctrl.rules.casting.splitPolicy != 'cl'"
     id="play-off-parameters-toggler">
  <label translate="play-off-lbl"/>
  <input type="checkbox"
         data-size="small"
         bs-toggler-anchor="play-off-parameters-toggler"
         ng-model="$ctrl.usePlayOff"
         bs-toggle-on="{{ 'yes-lbl' | translate }}"
         bs-toggle-off="{{ 'no-lbl' | translate }}"
         bs-toggle-target="#play-off-parameters"
         bs-toggle/>
</div>
<div id="play-off-parameters" class="toggle-panel" ng-show="$ctrl.usePlayOff">
  <many-button-toggler id="max-losses-in-play-off" ng-model="$ctrl.rules.playOff.losings"
                       domain="[1, 2]" selected-class="['btn-primary', 'btn-success']"
                       label="max-losses" on-click="[$ctrl.scrollBottom]"/>
  <many-button-toggler id="third-place-match" ng-show="$ctrl.rules.playOff.losings == 1"
                       domain="[1, 0]" selected-class="['btn-primary', 'btn-danger']"
                       label="Match for 3rd place" ng-model="$ctrl.rules.playOff.tpm"/>
  <console-tournament-rule-link ng-model="$ctrl.rules.playOff.con"
                                parent-tid="$ctrl.tournament.tid"
                                console-type="ConOff"
                                ng-show="$ctrl.tournament.tid && !$ctrl.tournament.master.tid"
                                console-tid="$ctrl.tournament.consolePlayOffTid"/>
  <many-button-toggler ng-show="$ctrl.rules.casting.splitPolicy == 'cl'"
                       domain="['ml', 'il']"
                       label="Merge console layers"
                       ng-model="$ctrl.rules.playOff.lrPol"/>
  <many-button-toggler ng-show="$ctrl.rules.playOff.lrPol == 'ml' && $ctrl.tournament.master.type == 'ConGru'"
                       domain="['JL', 'AW3', 'AW2', 'AW1']"
                       label="Console guests"
                       ng-model="$ctrl.rules.playOff.conParts"/>
  <many-button-toggler ng-show="$ctrl.tournament.master.type == 'ConOff' && ($ctrl.rules.casting.splitPolicy != 'cl' || $ctrl.rules.playOff.lrPol == 'ml')"
                       domain="['JL', 'LUTS', 'AW3', 'AW2', 'AW1']"
                       label="Console guests"
                       ng-model="$ctrl.rules.playOff.conParts"/>
  <many-button-toggler ng-show="$ctrl.tournament.master.type == 'ConOff' && $ctrl.rules.playOff.lrPol == 'il')"
                       domain="['JL', 'LUTS', 'AW3']"
                       label="Console guests"
                       ng-model="$ctrl.rules.playOff.conParts"/>
  <div class="form-group toggle-btn" id="play-off-match-rules-toggler">
    <label translate="custom-play-off-match-rules"/>
    <input type="checkbox"
           data-size="small"
           bs-toggler-anchor="play-off-match-rules-toggler"
           ng-model="$ctrl.useCustomPlayOffMatchRules"
           bs-toggle-on="{{ 'yes-lbl' | translate }}"
           bs-toggle-off="{{ 'no-lbl' | translate }}"
           bs-toggle-target="#play-off-match-rules"
           bs-toggle/>
  </div>
  <div id="play-off-match-rules" class="toggle-panel" ng-show="$ctrl.useCustomPlayOffMatchRules">
    <head-less-play-off-match-params/>
  </div>
</div>
