<main-menu></main-menu>
<div class="container">
  <request-status></request-status>
  <div ng-show="$ctrl.openMatch" class="form-group">
    <a class="btn btn-primary wrap-long" ng-click="$ctrl.matchScoring()">
      Complete match with {{$ctrl.openMatch.enemy.name}}
    </a>
  </div>
  <table class="table" ng-show="$ctrl.matches.length > 0">
    <thead>
      <tr>
        <td title="Description of possible states in a match.">
          <a href="#!/match/state/description">State</a>
        </td>
        <td title="Match type. It could be a game in a group or play off.">
          Match
        </td>
        <td title="Table number where the match should be held or dash if it's not known yet.">
          Table
        </td>
        <td title="Your opponent in a game.">
          Contestant
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in $ctrl.matches">
        <td class="match-state-description"
            title="Match state. Start playing once it become the Game."
            ng-class="{'text-danger': match.state == 'Game'}">
          {{match.state}}
        </td>
        <td title="Match type. It could be a game in a group or play off.">
          {{match.matchType}}
        </td>
        <td class="table-number">
          <a href="#!/place/tables/{{match.table.id}}"
             title="Table number where the match should be held or dash if it's not known yet."
             ng-show="match.table.id">
            {{match.table.label}}
          </a>
          <span title="No free table" ng-show="!match.table.id">-</span>
        </td>
        <td title="Your opponent in a game.">
          <a href="#!/participant/{{match.tid}}/{{match.enemy.uid}}">
            {{match.enemy.name}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-info" ng-show="!$ctrl.error && $ctrl.matches.length == 0">
    <p>You don't have any match to play.</p>
    <p ng-show="!$ctrl.tournament.next && !$ctrl.tournament.previous">
      <a href="#!/tournaments">Find a tournament</a> interesting your
      and enlist!
    </p>
    <p ng-show="$ctrl.tournament.next">
      You are enlisted to <a href="#!/tournaments/{{$ctrl.tournament.next.tid}}">
        {{$ctrl.tournament.next.name}}
      </a> tournament, which begins at {{$ctrl.tournament.next.opensAt
      | date: 'MMM d EEE h a Z'}}.
    </p>
    <p ng-show="$ctrl.tournament.previous">
      You complete the battle in <a href="#!/tournaments/{{$ctrl.tournament.previous.tid}}">
        {{$ctrl.tournament.previous.name}}</a> tournament.
    </p>
  </div>
</div>
