<main-menu></main-menu>
<div class="container">
  <request-status></request-status>
  <div ng-show="$ctrl.previouslyScored.ended">
    <div class="alert alert-info" ng-switch="$ctrl.tournament.previous.outcome">
      <div ng-switch-when="Win1"
           translate="congrat-1st-place",
           translate-values="{url: '#!/tournament/result/' + $ctrl.tournament.previous.tid, name: $ctrl.tournament.previous.name}">
      </div>
      <div ng-switch-when="Win2"
           translate="congrat-1st-place",
           translate-values="{url: '#!/tournament/result/' + $ctrl.tournament.previous.tid, name: $ctrl.tournament.previous.name}">
      </div>
      <div ng-switch-when="Win3"
           translate="congrat-3rd-place",
           translate-values="{url: '#!/tournament/result/' + $ctrl.tournament.previous.tid, name: $ctrl.tournament.previous.name}">
      </div>
      <div ng-switch-when="Lost" translate="congrat-lost"
           translate-values="{url: '#!/tournament/result/' + $ctrl.tournament.previous.tid, name: $ctrl.tournament.previous.name}">
      </div>
      <div ng-switch-when="Quit" translate="congrat-quit"
           translate-values="{url: '#!/tournament/result/' + $ctrl.tournament.previous.tid, name: $ctrl.tournament.previous.name}">
      </div>
      <div ng-switch-when="Expl" translate="congrat-expelled"
           translate-values="{url: '#!/tournament/result/' + $ctrl.tournament.previous.tid, name: $ctrl.tournament.previous.name}">
      </div>
      <div ng-switch-default>
        {{ 'unsupported-player-state' | translate : '{name: $ctrl.tournament.previous.outcome}' }}
      </div>
    </div>
    <div class="form-group">
      <button class="btn btn-primary"
              ng-click="$ctrl.iSawMyOutcomeInTournament()">
        {{ 'Ok, I see' | translate }}
      </button>
      <a class="btn btn-default"
         href="#!/tournament/result/{{$ctrl.tournament.previous.tid}}">
        {{ 'Watch Ratings' | translate }}
      </a>
    </div>
  </div>
  <div ng-show="$ctrl.openMatch" class="form-group">
    <a class="btn btn-primary wrap-long" ng-click="$ctrl.matchScoring()">
      {{ 'complete-match-with' | translate : '{name: $ctrl.openMatch.enemy.name}' }}

    </a>
  </div>
  <div ng-show="!$ctrl.openMatch && $ctrl.matches.length > 0"
       class="form-group alert alert-info">
    {{ 'Wait for a free table.' | translate }}
  </div>
  <table class="table" ng-show="$ctrl.matches.length > 0">
    <thead>
      <tr>
        <td title="{{ 'state-descr-hint' | translate }}">
          <a href="#!/match/state/description">
            {{ 'match state' | translate }}
          </a>
        </td>
        <td title="{{ 'match-type-hint' | translate }}">
          {{ 'the match' | translate }}
        </td>
        <td title="{{ 'table-number-hint' | translate }}">
          {{ 'the table' | translate }}
        </td>
        <td title="{{ 'opponent-name' | translate }}">
          {{ 'the contestant' | translate }}
        </td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in $ctrl.matches">
        <td class="match-state-description"
            title="{{ 'match-state-descr-in-row' | translate }}"
            ng-class="{'text-danger': match.state == 'Game'}">
          {{match.state}}
        </td>
        <td title="{{ 'match-type-descr-in-row' | translate }}">
          {{match.matchType}}
        </td>
        <td class="table-number">
          <a href="#!/place/tables/{{match.table.id}}"
             title="{{ 'table-label-descr-row' | translate }}"
             ng-show="match.table.id">
            {{match.table.label}}
          </a>
          <span title="{{ 'No free table' | translate }}" ng-show="!match.table.id">-</span>
        </td>
        <td title="{{ 'Your opponent in a game.' | translate }}">
          <a href="#!/participant/{{match.tid}}/{{match.enemy.uid}}">
            {{match.enemy.name}}
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div ng-show="!$ctrl.previouslyScored.ended && $ctrl.matches.length == 0">
    <div class="alert alert-info">
      <p ng-show="!$ctrl.tournament.current"
         translate="you-dont-participate-in-tournament"
         translate-values="{url: '#!/tournaments'}">
      </p>
      <p ng-show="$ctrl.tournament.current.length">
        {{ 'you-participate-in' | translate }}
        <a ng-repeat="tournament in $ctrl.tournament.current"
           href="#!/watch/tournament/{{tournament.tid}}">
          <span ng-show="$index > 0">, </span>{{tournament.name}}
        </a>
        <span ng-show="$ctrl.tournament.current.length == 1">
          {{ 'tournament' | translate }},
        </span>
        <span ng-show="$ctrl.tournament.current.length > 1">
          {{ 'tournaments' | translate }},
        </span>
        {{ 'you-participate-in-but' | translate }}
      </p>
    </div>
    <div class="alert alert-info" ng-show="$ctrl.tournament.next"
         translate="closest-tournament"
         translate-values="{url: $ctrl.nextUrl(), name: $ctrl.nextName(), date: ($ctrl.tournament.next.opensAt | date: 'MMM d EEE h a Z')}">
    </div>
    <div class="alert alert-info" ng-show="$ctrl.tournament.previous"
         translate="latest-tournament"
         translate-values="{url: '#!/tournament/result/' + $ctrl.tournament.previous.tid, name: $ctrl.tournament.previous.name}">
    </div>
  </div>
</div>
