<div class="form-group" id="supertie-break-games"
     ng-show="$ctrl.rules.match['@type'] == 'Tennis'">
  <label translate="Super tie break games"/>
  <div touch-spin options="$ctrl.sets"
       ng-model="$ctrl.rules.match.superTieBreakGames"></div>
  <p class="help-block" translate="super-time-break-games-help"/>
</div>
<div class="form-group" id="sets-to-win-match">
  <label translate="Sets to win a match"/>
  <div touch-spin options="$ctrl.sets"
       ng-model="$ctrl.rules.match.setsToWin"/>
  <p class="help-block" translate="match-score-help"/>
</div>
<div class="form-group" id="min-games-to-win"
     ng-show="!$ctrl.rules.match.countOnlySets"
     ng-class="{'has-error': $ctrl.errors['match-rule.min-games-to-win']}">
  <label ng-show="$ctrl.rules.match['@type'] == 'Tennis'"
         translate="Min games to win a set"/>
  <label ng-show="$ctrl.rules.match['@type'] == 'PingPong'"
         translate="Min score to win a set"/>
  <div touch-spin options="$ctrl.score"
       ng-model="$ctrl.rules.match.mgtw"/>
  <p class="help-block" ng-repeat="error in $ctrl.errors['match-rule.min-games-to-win']">
    {{ error.message | translate : error.params }}
  </p>
  <p class="help-block" ng-show="$ctrl.rules.match['@type'] == 'PingPong'"
     translate="min-score-to-win-set-help"/>
  <p class="help-block" ng-show="$ctrl.rules.match['@type'] == 'Tennis'"
     translate="min-games-to-win-set-help"/>
</div>
<div class="form-group" id="min-game-advance"
     ng-show="!$ctrl.rules.match.countOnlySets">
  <label translate="Min score advance to win a set"/>
  <div touch-spin options="$ctrl.advance"
       ng-model="$ctrl.rules.match.minAdvanceInGames"/>
  <p class="help-block"
     translate="min-score-advance-help"
     ng-show="$ctrl.rules.match['@type'] == 'PingPong'"/>
  <p class="help-block"
     translate="min-games-advance-help"
     ng-show="$ctrl.rules.match['@type'] == 'Tennis'"/>
</div>
<many-button-toggler id="count-only-sets" ng-show="$ctrl.rules.match['@type'] == 'PingPong'"
                     domain="[false, true]" selected-class="['btn-primary', 'btn-success']"
                     label="Count only sets lbl" ng-model="$ctrl.rules.match.countOnlySets"/>
