<div class="container-fluid">
  <main-menu></main-menu>
  <div class="alert alert-danger" ng-show="$ctrl.error">
    {{$ctrl.error}}
  </div>
  <table class="table" ng-show="$ctrl.matches.length > 0">
    <thead>
      <tr>
        <td>State</td>
        <td>Match</td>
        <td>Table</td>
        <td>Participants</td>
        <td>Complete</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in $ctrl.matches">
        <td>{{match.state}}</td>
        <td>{{match.matchType}}</td>
        <td>
          <a href="#!/place/tables/{{match.table.id}}">
            {{match.table.label}}
          </a>
        </td>
        <td>
          <a ng-repeat="participant in match"
             class="btn btn-default"
             href="#!/participant/{{$ctrl.tournamentId}}/{{participant.uid}}">
            {{participant.name}}
          </a>
        </td>
        <td>
          <a class="btn btn-default"
             ng-click="$ctrl.completeMatch(match.mid)">
            Complete
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="alert alert-info" ng-show="!$ctrl.error && $ctrl.matches.length == 0">
    <p>You don't any match to judge.</p>
    <p ng-show="!$ctrl.tournament.next && !$ctrl.tournament.previous">
      <a href="#!/tournaments">Find a tournament</a> interesting for you
      and submit an enquiry to administrator.
    </p>
    <p ng-show="$ctrl.tournament.next">
      Next tournament, you judge, is <a href="#!/tournament/{{$ctrl.tournament.next.tid}}">
        {{$ctrl.tournament.next.name}}
      </a> tournament, which begins at {{$ctrl.tournament.next.opensAt
      | date: 'MMMM dd yyyy HH:mm'}}.
    </p>
    <p ng-show="$ctrl.tournament.previous">
      Tournment <a href="#!/tournament/{{$ctrl.tournament.previous.tid}}">
        {{$ctrl.tournament.previous.name}}</a> is complete.
    </p>
  </div>
  <div class="alert alert-info" ng-show="!$ctrl.error && $ctrl.matches === null">
    Loading ...
  </div>
</div>
