<main-menu></main-menu>
<div class="container-fluid open-tournament">
  <request-status></request-status>
  <div ng-show="$ctrl.tournament.state == 'Close'">
    <div class="alert alert-info" >
      Tournament <a href="#!/tournament/result/{{$ctrl.tournament.tid}}">
        {{$ctrl.tournament.name}}
      </a>
      is complete.
    </div>
  </div>
  <div class="alert alert-info"
       ng-show="$ctrl.tournament.state == 'Canceled'">
    Tournament <b>{{$ctrl.tournament.name}}</b> is canceled.
  </div>
  <div class="alert alert-info"
       ng-show="$ctrl.tournament.state == 'Open' && $ctrl.matches.length == 0">
    There is no matches left to play.
  </div>
  <div ng-show="$ctrl.winners.length > 0">
    <fieldset>
      <legend>Winners</legend>
      <table class="table">
        <tbody>
          <tr ng-repeat="winner in $ctrl.winners">
            <td>
              <span class="medal"
                    ng-class="{'gold': !$index, 'silver': $index == 1, 'bronze': $index == 2}">
                {{$index + 1}}
              </span>
            </td>
            <td>
              <a href="#!/participant/{{$ctrl.tid}}/{{winner.uid}}">{{winner.name}}</a>
            </td>
          </tr>
        </tbody>
      </table>
    </fieldset>
  </div>
  <table class="table" ng-show="$ctrl.matches.length > 0">
    <thead>
      <tr>
        <td>Opponents</td>
        <td>Score</td>
        <td>Table/Time/Category</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="match in $ctrl.matches">
        <td class="participant-names"
            title="Opponents participating in the match">
          <a ng-repeat="participant in match.participants"
             class="btn btn-default"
             href="#!/participant/{{$ctrl.tid}}/{{participant.uid}}">
            {{participant.name}}
          </a>
        </td>
        <td title="Current score in the match">
          <span ng-repeat="score in match.score track by $index"
                class="badge">
            {{score}}
          </span>
        <td class="clearfix">
          <div>
            <a href="#!/table/{{match.table.id}}" title="Table number">
              <span class="glyphicon glyphicon-map-marker"></span>
              {{match.table.label}}
            </a>
          </div>
          <div title="Match start time">
            <span class="glyphicon glyphicon-time"></span>
            {{match.started | date:'HH:mm'}}
          </div>
          <div>
            <a href="#!/tournament/category/{{$ctrl.tid}}/{{match.category.cid}}"
               data-toggle="popover"
               title="Category" data-content="{{match.type}}">
              <span class="glyphicon glyphicon-tag"></span>
              {{match.category.name}}
            </a>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
