<div class="form-group toggle-btn">
    <label translate="seeding-lbl"/>
    <a class="pull-right arrow"
       simple-toggler="#seeding-parameters">
        <span class="glyphicon glyphicon-menu-down"/>
        <span class="glyphicon glyphicon-menu-up"/>
    </a>
</div>
<div id="seeding-parameters" class="toggle-panel in">
    <many-button-toggler domain="['bm', 'ConsoleLayered']"
                         id="split-policy" label="split-policy-lbl"
                         ng-show="$ctrl.tournament.masterTid"
                         ng-model="$ctrl.rules.casting.splitPolicy"/>
    <many-button-toggler domain="$ctrl.rankingPolicyDomain"
                         id="ranking-policy" label="rank-policy-lbl"
                         ng-show="['BestToBest', 'bm'].includes($ctrl.rules.casting.splitPolicy)"
                         ng-model="$ctrl.rules.casting.policy"/>
    <div class="form-group" id="rank-name-field"
         ng-class="{'has-error': $ctrl.showError('rankName')}"
         ng-show="$ctrl.rules.casting.policy == 'pr'">
        <label for="rankName" class="toggle-option" translate="rank-name-lbl"/>
        <input type="text" class="form-control"
               ng-model="$ctrl.rules.casting.pro.label"
               ng-maxlength="100"
               name="rankName"
               id="rankName"
               placeholder="{{ 'rank-name-lbl' | translate }}" />
        <p class="help-block"
           ng-show="$ctrl.parent.form.rankName.$error.maxlength">
            {{ 'rank-name-length' | translate : '{max: 100}' }}
        </p>
    </div>
    <div class="form-group" id="min-rank-value"
         ng-show="$ctrl.rules.casting.policy == 'pr'">
        <label translate="Minimal allowed rank value"/>
        <div touch-spin options="$ctrl.rank"
             ng-model="$ctrl.rules.casting.pro.minValue"/>
    </div>
    <div class="form-group" id="max-rank-value"
         ng-show="$ctrl.rules.casting.policy == 'pr'">
        <label translate="Maximum allowed rank value"/>
        <div touch-spin options="$ctrl.rank"
             ng-model="$ctrl.rules.casting.pro.maxValue"/>
    </div>
    <many-button-toggler domain="['d', 'i']" label="rank-direction-lbl"
                         id="rank-axis-direction"
                         ng-show="['BestToBest', 'bm'].includes($ctrl.rules.casting.splitPolicy) &amp;&amp; ['pr', 'su'].includes($ctrl.rules.casting.policy)"
                         ng-model="$ctrl.rules.casting.direction"/>
</div>
