<div class="form-group toggle-btn">
    <label translate="match-lbl"/>
    <a class="pull-right arrow"
       simple-toggler="#match-parameters">
        <span class="glyphicon glyphicon-menu-down"/>
        <span class="glyphicon glyphicon-menu-up"/>
    </a>
</div>
<div id="match-parameters" class="toggle-panel in">
    <div class="form-group" ng-show="$ctrl.rules.match['@type'] == 'Tennis'">
        <label translate="Super tie break games"/>
        <div touch-spin options="$ctrl.options.sets"
             ng-model="$ctrl.rules.match.superTieBreakGames"></div>
        <p class="help-block" translate="super-time-break-games-help"/>
    </div>
    <div class="form-group">
        <label translate="Sets to win a match"/>
        <div touch-spin options="$ctrl.options.sets"
             ng-model="$ctrl.rules.match.setsToWin"/>
        <p class="help-block" translate="match-score-help"/>
    </div>
    <div class="form-group"
         ng-class="{'has-error': $ctrl.errors['match-rule.min-games-to-win']}">
        <label ng-show="$ctrl.rules.match['@type'] == 'Tennis'"
               translate="Min games to win a set"/>
        <label ng-show="$ctrl.rules.match['@type'] == 'PingPong'"
               translate="Min score to win a set"/>
        <div touch-spin options="$ctrl.options.score"
             ng-model="$ctrl.rules.match.minGamesToWin"/>
        <p class="help-block" ng-repeat="error in $ctrl.errors['match-rule.min-games-to-win']">
            {{ error.message | translate : error.params }}
        </p>
        <p class="help-block" ng-show="$ctrl.rules.match['@type'] == 'PingPong'"
           translate="min-score-to-win-set-help"/>
        <p class="help-block" ng-show="$ctrl.rules.match['@type'] == 'Tennis'"
           translate="min-games-to-win-set-help"/>
    </div>
    <div class="form-group">
        <label translate="Min score advance to win a set"/>
        <div touch-spin options="$ctrl.options.advance"
             ng-model="$ctrl.rules.match.minAdvanceInGames"/>
        <p class="help-block"
           translate="min-score-advance-help"
           ng-show="$ctrl.rules.match['@type'] == 'PingPong'"/>
        <p class="help-block"
           translate="min-games-advance-help"
           ng-show="$ctrl.rules.match['@type'] == 'Tennis'"/>
    </div>
</div>