<form novalidate name="$ctrl.form"
      ng-submit="$ctrl.update()"
      default-button-type
      ng-show="!$ctrl.published">
  <seeding-tr-params/>
  <match-params/>
  <arena-params/>
  <group-tr-params/>
  <console-tr-params/>
  <play-off-tr-params/>
  <div class="form-group top-buffer">
    <div ng-show="$ctrl.tournamentId">
      <button class="btn btn-primary" type="submit">
        {{ 'Update btn' | translate }}
      </button>
      <a class="btn btn-danger" ng-click="$ctrl.cancel()">
        {{ 'Cancel btn' | translate }}
      </a>
    </div>
    <div ng-show="!$ctrl.tournamentId">
      <button class="btn btn-primary" type="submit">
        {{ 'Create & Open Draft' | translate }}
      </button>
      <a class="btn btn-default" ng-click="$ctrl.back()">
        {{ 'Back btn' | translate }}
      </a>
      <a ng-click="$ctrl.cancel()" class="btn btn-danger">
        {{ 'Cancel btn' | translate }}
      </a>
    </div>
  </div>
  <div id="form-bottom" class="form-group">
    <request-status></request-status>
  </div>
</form>
