<form novalidate name="$ctrl.form"
      ng-submit="$ctrl.update()"
      default-button-type
      ng-show="!$ctrl.published">
  <seeding-tr-params/>
  <match-params/>
  <arena-params/>
  <group-tr-params/>
  <console-tr-params/>
  <enlist-params/>
  <play-off-tr-params/>
  <div class="form-group top-buffer">
    <div>
      <button id="create-tournament" class="btn btn-primary"
              translate="Create & Open Draft"
              type="submit" ng-show="!$ctrl.tournament.tid"/>
      <button id="update-tournament-rules" class="btn btn-primary"
              ng-show="$ctrl.tournament.tid" type="submit" translate="Update btn"/>
      <a id="back-to-tournament-properties" class="btn btn-default"
         ng-show="!$ctrl.tournament.tid" ng-click="$ctrl.back()"
         translate="Back btn"/>
      <a id="discard-rules-changes" ng-click="$ctrl.cancel()"
         class="btn btn-danger" translate="Cancel btn"/>
    </div>
  </div>
  <div id="form-bottom" class="form-group">
    <request-status></request-status>
  </div>
</form>
