@import "~css/media-mixin.scss";

@import "dice.scss";

.classic-group-view {
    .weighted-match-table {
        margin: auto;
        font-size: 70%;
    }
}

.classic-group-view > thead tr:first-child td {
    border-bottom: 1px solid #ddd;
}


@include desktop-media {
    .classic-group-view {
        .walk-over {
            line-height: 0.3;
            font-size: 150%;
            vertical-align: middle;
        }

        .win-over {
            line-height: 0.3;
            font-size: 200%;
            vertical-align: middle;
        }

        .pending {
            line-height: 0.3;
            font-size: 150%;
            vertical-align: middle;
        }
    }
}
