<table class="table">
    <thead>
    <tr>
        <td title="position">
            #
        </td>
        <td>
            Participant
        </td>
        <td ng-repeat="participant in $ctrl.participants" class="text-center">
            {{ $index + 1 }} {{participant.name | initials}}
        </td>
        <td title="punkts" class="text-center">
            Punkts
        </td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="participant in $ctrl.participants">
        <td>{{$index + 1}}</td>
        <td>
            <a href="#!/my/tournament/{{$ctrl.tournamentId}}/participant/{{participant.uid}}">
                {{participant.name}}
            </a>
        </td>
        <td ng-repeat="p2 in $ctrl.participants" class="text-center">
            <span ng-show="participant.uid == p2.uid" class="text-muted">
                {{participant.name | initials}}
            </span>
            <span ng-show="participant.uid != p2.uid">
                <a href="#!/match/management/{{$ctrl.tournamentId}}/{{participant.matches[p2.uid].mid}}">
                    <span ng-show="participant.matches[p2.uid].state == 'Pending'" class="text-muted">
                        <span class="glyphicon glyphicon-time"/>
                    </span>
                    <span ng-show="participant.matches[p2.uid].state == 'Run'">
                        <span ng-repeat="set in participant.matches[p2.uid].games" class="small">
                            {{set.his}} : {{set.enemy}}
                        </span>
                        <sup>
                            <span class="glyphicon glyphicon-refresh spinning-slow tiny"/>
                        </sup>
                    </span>
                    <span ng-show="participant.matches[p2.uid].state == 'Over'"
                          ng-class="{'text-danger': $ctrl.isLost(participant, p2), 'text-success': $ctrl.isWon(participant, p2)}">
                        <span ng-switch="$ctrl.scoreShowMode">
                            <span ng-switch-when="sets">
                                {{participant.matches[p2.uid].sets.his}} : {{participant.matches[p2.uid].sets.enemy}}
                            </span>
                            <span ng-switch-when="games">
                                <span ng-repeat="set in participant.matches[p2.uid].games">
                                    {{set.his}} : {{set.enemy}}
                                </span>
                            </span>
                            <span ng-switch-default>
                                unsupported mode {{$ctrl.scoreShowMode}}
                            </span>
                        </span>
                    </span>
                    <span ng-show="participant.matches[p2.uid].state == 'WalkOver'" class="text-danger"
                          title="participant walked over the match">
                        <span class="glyphicon glyphicon-thumbs-down"/>
                    </span>
                    <span ng-show="participant.matches[p2.uid].state == 'WalkWiner'" class="text-success"
                          title="enemy walked over the match">
                        <span class="glyphicon glyphicon-thumbs-up"/>
                    </span>
                </a>
            </span>
        </td>
        <td class="text-center">
            {{participant.punkts}}
        </td>
    </tr>
    </tbody>
</table>
