@import "~css/media-mixin.scss";

.container .container.request-status {
    margin: 0px;
    padding: 0px;
}

.request-status .refresh-btn {
    font-size: 13px;
    margin-right: 10px;
}


@include mobile-media {
    .request-status {
        .alert-danger {
            margin-bottom: 10px;
        }
    }
}