<main-menu></main-menu>
<form>
  <div class="container admin-score">
    <div class="form-group">
      <label>
        {{ 'Between' | translate }}
        <a href="#!/my/tournament/{{$ctrl.tournamentId}}/participant/{{$ctrl.participants[0].uid}}">
          {{$ctrl.participants[0].name}}
        </a> {{ 'and' | translate }}
        <a href="#!/my/tournament/{{$ctrl.tournamentId}}/participant/{{$ctrl.participants[1].uid}}">
          {{$ctrl.participants[1].name}}
        </a>
      </label>
    </div>
    <div class="form-group">
      <label>
        {{ 'Score of' | translate }}
        <a href="#!/my/tournament/{{$ctrl.tournamentId}}/participant/{{$ctrl.participants[0].uid}}">
          {{$ctrl.participants[0].name}}
        </a>
      </label>
      <div>
        <a class="btn btn-default score"
           ng-repeat="score in $ctrl.possibleScores"
           ng-click="$ctrl.pick(0, score)"
           ng-class="{'btn-primary': score == $ctrl.scores[0]}">
          {{score}}
        </a>
      </div>
    </div>
    <div class="form-group">
      <label>
        {{ 'Score of' | translate }}
        <a href="#!/my/tournament/{{$ctrl.tournamentId}}/participant/{{$ctrl.participants[1].uid}}">
          {{$ctrl.participants[1].name}}
        </a>
      </label>
      <div>
        <a class="btn btn-default score"
           ng-repeat="score in $ctrl.possibleScores"
           ng-click="$ctrl.pick(1, score)"
           ng-class="{'btn-primary': score == $ctrl.scores[1]}">
          {{score}}
        </a>
      </div>
    </div>
    <div class="form-group">
      <request-status></request-status>
    </div>
    <div class="form-group">
      <button class="btn btn-primary"
              ng-click="$ctrl.scoreMatch()">
        {{ 'Score & Complete Match' | translate }}
      </button>
      <button class="btn btn-default" back-button>
        {{ 'Back btn' | translate }}
      </button>
    </div>
  </div>
</form>
