<main-menu></main-menu>
<div class="container enlist-form">
  <table class="table" ng-show="$ctrl.tournament">
    <tbody>
      <tr>
        <td>Name</td>
        <td>{{$ctrl.tournament.name}}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{$ctrl.tournament.place.address.address}}</td>
      </tr>
      <tr>
        <td>Place</td>
        <td>
          <a href="#!/place/{{$ctrl.tournament.place.pid}}">{{$ctrl.tournament.place.name}}</a>
        </td>
      </tr>
      <tr>
        <td>Date</td>
        <td>
          <span class="date">
            {{$ctrl.tournament.opensAt|date:"MMM d"}}
          </span>
          <span class="time">
            {{$ctrl.tournament.opensAt|date:"EEE h a Z"}}
          </span>
        </td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered" ng-show="$ctrl.tournament">
    <tbody>
      <tr>
        <td title="Price per participant">Price</td>
        <td title="How many people are already enlisted">Enlisted</td>
        <td title="Available payment methods">Payment</td>
      </tr>
      <tr>
        <td>
          <span ng-if="$ctrl.tournament.price">
            {{$ctrl.tournament.price}}
          </span>
          <span ng-if="!$ctrl.tournament.price">
            free
          </span>
        </td>
        <td>{{$ctrl.tournament.alreadyEnlisted}}</td>
        <td>cash</td>
      </tr>
    </tbody>
  </table>

  <div class="form-group clearfix" ng-show="$ctrl.tournament && !$ctrl.tournament.myCategoryId">
    <div class="pull-left category-label">
      Categories
    </div>
    <div class="pull-left category-value">
      <div class="row" ng-repeat="category in $ctrl.tournament.categories">
        <a class="btn btn-default category"
           ng-click="$ctrl.activate(category.cid)"
           ng-class="{'btn-primary': category.cid == $ctrl.myCategory.cid}">
          {{category.name}}
        </a>
      </div>
    </div>
  </div>

  <div class="form-group clearfix" ng-show="$ctrl.tournament.myCategoryId">
    <div class="pull-left category-label">
      My category
    </div>
    <div class="pull-left category-value">
      {{$ctrl.myCategory.name}}
    </div>
  </div>

  <div class="form-group">
    <request-status></request-status>
    <tournament-status></tournament-status>
  </div>

  <div class="form-group" ng-show="$ctrl.showQuitConfirm">
    <div class="alert alert-danger">
      Tournament is open. You are participate.
      If you resign right now, there is no way back!
    </div>
    <a class="btn btn-danger" ng-click="$ctrl.resign()">
      Resign
    </a>
    <a class="btn btn-primary" ng-click="$ctrl.showQuitConfirm = false">
      Cancel
    </a>
  </div>

  <div class="form-group" ng-show="$ctrl.tournament">
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.enlistMe()"
            ng-show="!$ctrl.tournament.myCategoryId && !$ctrl.tournament.iamAdmin">Enlist Me</button>
    <button type="button" class="btn btn-primary"
            ng-click="$ctrl.resign()"
            ng-show="$ctrl.tournament.myCategoryId && $ctrl.tournament.state == 'Draft'">Resign</button>
    <button type="button" class="btn btn-danger"
            ng-click="$ctrl.quit()"
            ng-show="$ctrl.tournament.myCategoryId && $ctrl.tournament.state == 'Open' && !$ctrl.showQuitConfirm">Quit</button>
    <button type="button" class="btn btn-primary"
            ng-show="$ctrl.tournament.iamAdmin">Enlist Offline Participant</button>
    <a class="btn btn-primary label-info" role="button" ng-show="$ctrl.tournament.previousTid"
       href="#!/tournament/drafting/{{$ctrl.tournament.previousTid}}">
      Previous tournament in the seria
    </a>
  </div>

  <div class="form-group" ng-show="$ctrl.tournament.myCategoryId && $ctrl.tournament.state == 'Draft'">
    <p>Thanks, you are enlisted to the tournament <b>{{$ctrl.tournament.name}}</b>.
      It will start {{$ctrl.tournament.opensAt | amTimeAgo}}.
      <a href="#!/my/matches/play">Here</a> is information about
      matches, you need to play in the tournament.
    </p>
  </div>
</div>
