.toggle-btn {
    > label {
        color: $section-panel-label-color;
    }
    .collapsed {
        .glyphicon-menu-down {
            display: inherit;
        }
        .glyphicon-menu-up {
            display: none;
        }
    }
    .glyphicon-menu-down {
        display: none;
    }
    .glyphicon-menu-up {
        display: inherit;
    }
}

.toggle-panel {
    border: 1px solid $section-panel-border-color;
}
