<main-menu></main-menu>
<div class="container">
  <div class="form-group">
    <a class="btn btn-default"
       href="#!/my/tournament/{{$ctrl.tournament.tid}}">
      {{ 'View tournament btn' | translate }}
    </a>
  </div>
  <form novalidate name="$ctrl.form"
        ng-submit="$ctrl.update()"
        default-button-type
        ng-show="!$ctrl.published">
    <div class="form-group">
      <label for="quitsGroup">{{ 'Quits from a group' | translate }}</label>
      <div touch-spin options="$ctrl.options.quitsGroup"
           ng-model="$ctrl.tournament.quitsGroup"></div>
      <p class="help-block" translate="quits-group-help"></p>
    </div>
    <div class="form-group">
      <label for="maxGroupSize">{{ 'Max group size' | translate }}</label>
      <div touch-spin options="$ctrl.options.maxGroupSize"
           ng-model="$ctrl.tournament.maxGroupSize"></div>
      <p class="help-block" translate="max-group-size-help"></p>
    </div>
    <div class="form-group">
      <label for="matchScore">{{ 'Match score' | translate }}</label>
      <div touch-spin options="$ctrl.options.matchScore"
           ng-model="$ctrl.tournament.matchScore"></div>
      <p class="help-block" translate="match-score-help"></p>
    </div>
    <div class="form-group">
      <label for="thirdPlaceMatch" class="toggle-option">
        {{ 'Match for 3rd place' | translate }}
      </label>
      <a class="btn btn-default"
         ng-click="$ctrl.setThirdPlaceMatch(1)"
         ng-class="{'btn-primary': $ctrl.tournament.thirdPlaceMatch == 1}">
        yes
      </a>
      <a class="btn btn-default"
         ng-click="$ctrl.setThirdPlaceMatch(0)"
         ng-class="{'btn-danger': $ctrl.tournament.thirdPlaceMatch == 0}">
        no
      </a>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        {{ 'Update btn' | translate }}
      </button>
      <a class="btn btn-danger" back-button>
        {{ 'Cancel btn' | translate }}
      </a>
    </div>
    <div class="form-group">
      <request-status></request-status>
    </div>
  </form>
</div>
