<main-menu></main-menu>
<div class="container">
  <div class="form-group">
    <a class="btn btn-default"
       href="#!/my/tournament/{{$ctrl.tournament.tid}}">
      {{ 'View tournament btn' | translate }}
    </a>
  </div>
  <form novalidate name="$ctrl.form"
        ng-submit="$ctrl.update()"
        default-button-type
        ng-show="!$ctrl.published">
    <div class="form-group">
      <label>{{ 'Quits from a group' | translate }}</label>
      <div touch-spin options="$ctrl.options.quitsFromGroup"
           ng-model="$ctrl.tournament.rules.group.quits"></div>
      <p class="help-block">
        {{ 'quits-group-help' | translate }}
      </p>
    </div>
    <div class="form-group">
      <label>{{ 'Max group size' | translate }}</label>
      <div touch-spin options="$ctrl.options.maxGroupSize"
           ng-model="$ctrl.tournament.rules.group.maxSize"></div>
      <p class="help-block">
        {{ 'max-group-size-help' | translate }}
      </p>
    </div>
    <div class="form-group">
      <label>{{ 'Match schedule in a group' }}</label>
      <textarea class="form-control" name="groupSchedule"
                rows="5" ng-model="$ctrl.groupSchedule"></textarea>
      <p class="help-block alert-danger" ng-repeat="error in $ctrl.errors['group-rule.schedule']">
        {{ error.template | translate : $ctrl.formatScheduleError(error.templateParams) }}
      </p>
      <p class="help-block alert-danger" ng-repeat="error in $ctrl.groupScheduleErrors">
        {{ error.template | translate : error.templateParams }}
      </p>
      <p class="help-block">
        Sets up an order for playing matches in a group.
        One line per case with a specified number of participants.
        An example for 3 participants in a group is
        <b>3: 1-2, 1-3, 2-3</b>.
        If there is no schedule for a group
        then matches will be scheduled according to the rules in PZTS 2016.
      </p>
    </div>
    <div class="form-group">
      <label>{{ 'Sets to win a match' }}</label>
      <div touch-spin options="$ctrl.options.matchScore"
           ng-model="$ctrl.tournament.rules.match.setsToWin"></div>
      <p class="help-block">
        {{ 'match-score-help' | translate }}
      </p>
    </div>
    <div class="form-group"
         ng-class="{'has-error': $ctrl.errors['match-rule.min-games-to-win']}">
      <label>{{ 'Min score to win a set' }}</label>
      <div touch-spin
           ng-model="$ctrl.tournament.rules.match.minGamesToWin"></div>
      <p class="help-block" ng-repeat="error in $ctrl.errors['match-rule.min-games-to-win']">
        {{ error.template | translate : JSON.stringify(error.templateParams) }}
      </p>
      <p class="help-block">
        How many balls a participant should get without równowagi
        to win a match.
      </p>
    </div>
    <div class="form-group">
      <label>{{ 'Min score advance to win a set' }}</label>
      <div touch-spin
           ng-model="$ctrl.tournament.rules.match.minGamesToWin"></div>
      <p class="help-block">
        Minimal required difference between participants'
        scores in a match to figure out its winner.
      </p>
    </div>
    <div class="form-group">
      <label class="toggle-option">
        {{ 'Match for 3rd place' | translate }}
      </label>
      <a class="btn btn-default"
         ng-click="$ctrl.setThirdPlaceMatch(1)"
         ng-class="{'btn-primary': $ctrl.tournament.rules.thirdPlaceMatch == 1}">
        yes
      </a>
      <a class="btn btn-default"
         ng-click="$ctrl.setThirdPlaceMatch(0)"
         ng-class="{'btn-danger': $ctrl.tournament.rules.thirdPlaceMatch == 0}">
        no
      </a>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" type="submit">
        {{ 'Update btn' | translate }}
      </button>
      <a class="btn btn-danger" back-button>
        {{ 'Cancel btn' | translate }}
      </a>
    </div>
    <div class="form-group">
      <request-status></request-status>
    </div>
  </form>
</div>
