<main-menu></main-menu>
<request-status></request-status>
<div class="container participant-presence">
  <div class="alert alert-info" ng-show="$ctrl.enlisted.length == 0">
    {{ 'nobody has enlisted' | translate }}
  </div>
  <div class="form-group">
    <a class="btn btn-default" href="#!/my/tournament/{{$ctrl.tournamentId}}">
      {{ 'Tournament btn' | translate }}
    </a>
  </div>
  <table class="table" ng-show="$ctrl.enlisted.length > 0">
    <thead>
      <tr>
        <td>
          <!-- Operation -->
        </td>
        <td>{{ 'participant name' | translate }}</td>
        <td>{{ 'bid state' | translate }}</td>
        <td>{{ 'Category' | translate }}</td>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="participant in $ctrl.enlisted | orderBy : 'user.name' ">
        <td>
          <div class="btn-group">
            <a class="btn btn-danger"
               ng-click="$ctrl.confirmExpel(participant)"
               ng-show="$ctrl.canExpel(participant)"
               title="{{ 'Expel participant' | translate }}">
              <span class="glyphicon glyphicon-remove"></span>
            </a>
            <a class="btn btn-primary"
               ng-click="$ctrl.markAsPaid(participant)"
               ng-show="$ctrl.canPay(participant)"
               title="{{ 'Mark that participant paid' | translate }}">
              <span class="glyphicon glyphicon-credit-card"></span>
            </a>
            <a class="btn btn-primary"
               ng-click="$ctrl.participantIsHere(participant)"
               ng-show="$ctrl.canCheck(participant)"
               title="{{ 'Mark that participant is here' | translate }}">
              <span class="glyphicon glyphicon-ok"></span>
            </a>
            <a class="btn btn-primary"
               ng-click="$ctrl.resetToWant(participant)"
               ng-show="$ctrl.canReset(participant)"
               title="{{ 'Reset to state - want to participate' | translate }}">
              <span class="glyphicon glyphicon-repeat"></span>
            </a>
          </div>
        </td>
        <td>
          <a href="#!/my/tournament/{{$ctrl.tournamentId}}/participant/{{participant.user.uid}}">
            {{participant.user.name}}
          </a>
        </td>
        <td>
          {{participant.state | translate}}
        </td>
        <td>
          {{participant.category.name}}
        </td>
      </tr>
    </tbody>
  </table>

  <div id="confirmParticipantExpel" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{ 'Participant Expel title' | translate }}</h4>
        </div>
        <div class="modal-body">
          <p translate="expel-warn"
             translate-values="{url: $ctrl.expelUrl($ctrl.tournamentId, $ctrl.toBeExpelled.user.uid), name: $ctrl.toBeExpelled.user.name}">
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default"
                  data-dismiss="modal">
            {{ 'Cancel btn' | translate }}
          </button>
          <button type="button" class="btn btn-danger"
                  ng-click="$ctrl.expel($ctrl.toBeExpelled)"
                  data-dismiss="modal">
            {{ 'Expel btn' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
