<div id="group-rule-parameters" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{
                  'group-rule-parameters-title' | translate }}{{
                  ('group-order-rule-label-' + $ctrl.rule['@type']) | translate
                  }}</h4>
            </div>
            <div class="modal-body">
              <many-button-toggler ng-model="$ctrl.rule.matchOutcomeScope"
                                   domain="$ctrl.matchOutcomeScopeKeys"
                                   selected-class="['btn-primary', 'btn-success']"
                                   ng-show="$ctrl.rule.matchOutcomeScope"
                                   id="match-outcome-scope"
                                   label="match-outcome-scope-lbl"/>
              <many-button-toggler ng-model="$ctrl.rule.matchParticipantScope"
                                   domain="$ctrl.matchParticipantScopeKeys"
                                   selected-class="['btn-primary', 'btn-success']"
                                   ng-show="$ctrl.rule.matchParticipantScope"
                                   id="match-participant-scope"
                                   label="match-participant-scope-lbl"/>

              <div class="form-group toggle-btn"
                   id="custom-dm-match-rules-toggler"
                   ng-show="$ctrl.rule['@type'] == 'DM'">
                <label translate="custom-dm-match-rules-lbl"/>
                <input type="checkbox"
                       data-size="small"
                       bs-toggler-anchor="custom-dm-match-rules-toggler"
                       ng-model="$ctrl.useCustomDmMatchRules"
                       bs-toggle-on="{{ 'yes-lbl' | translate }}"
                       bs-toggle-off="{{ 'no-lbl' | translate }}"
                       bs-toggle-target="#custom-dm-match-rules-panel"
                       bs-toggle/>
              </div>
              <div id="custom-dm-match-rules-panel"
                   class="toggle-panel"
                   ng-show="$ctrl.rule['@type'] == 'DM' && $ctrl.useCustomDmMatchRules">
                <headless-dm-match-params/>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-danger"
                        data-dismiss="modal"
                        translate="Cancel btn"/>

              <button type="button" class="btn btn-primary"
                        ng-click="$ctrl.saveChanges()"
                        data-dismiss="modal"
                        translate="save-lbl"/>
            </div>
        </div>
    </div>
</div>
