<div id="rulesDialog" class="modal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" translate="Select Group Order Rule"/>
            </div>
            <div class="modal-body clearfix">
              <a ng-click="$ctrl.pickThis(ruleId)" ng-repeat="ruleId in $ctrl.ruleIds"
                 class="btn btn-primary pull-left btn-space"
                 data-dismiss="modal"
                 translate="group-order-rule-label-{{ruleId}}"/>
            </div>
        </div>
    </div>
</div>
